
/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}


/* desktop: 1200px;
laptop: 992px;
tablet: 768px;
mobile: 480px; */


/******************************************
/* BASE STYLES
/*******************************************/

body ,html{
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  color: rgb(43, 42, 42);
  display: flex;
  flex-direction: column;
  
}

main {
  flex-direction: column;
  margin: 0% 5%;
}

footer {
  margin: 0px 0px;
  width: 100%;
  background-image: url("../img/slateBG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

h1{
  font-weight: 700;
  font-size: 5rem;
  color: white;
  line-height: 7rem;
  margin: 0px;
}

h2{
  font-weight: 500;
  font-size: 3rem;
}

h3{
  font-weight: 400;
  font-size: 2rem;
}

ul, li{
  text-decoration: none;
  list-style: none;
  padding-left: 0px;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

img{
  max-width: 100%;
}

.welcomeContainer{
  margin-bottom: 5%;
}


.welcome{
  background: url("../img/fishBackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 600px;
}

.welcomeText {
  display: flex;
  flex-direction: column;
  margin-left: 58%;
}

.welcome h1{
  margin-top: 15%;
}

.welcome h4{
  color: white;
  margin: 10px 0px;
  padding-left: 10px;
}


nav{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 80px;
  padding: 15px;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: rgb(43, 42, 42);
  font-size: 1.5rem;
  font-weight: 600;
}

nav img{
  height: 100px;
  margin-right: auto;
  margin-left: 5%;
  padding: 1rem 0rem;
}

.link{
  cursor: pointer;
  position: relative;
  padding-bottom: 5px;
}
  .link::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgb(46, 96, 146);
    transition: width 0.4s ease-out;
  }

  .link:hover.link::after{
  width: 100%;
}

.aboutUsContainer{
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
}

.aboutUsInfoContainer {
  width: 75%;
  padding-right: 2%;
}

.aboutUsImageContainer{
  background-image: url("../img/fishAndChips.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 60vw;
}

.ourMenuContainer{
  margin-top: 5%;
}

.ourMenuContainer h2, #rope {
  display: flex;
  justify-content: center;
}

.ourMenuContainer h2{
  margin-bottom: 1.5rem;
}

#rope{
  height: 50px;
  margin: auto;
  margin-bottom: 6%;
}

#longRope{
  height: 27rem;
  margin-right: 5%;  
}

.menuContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  text-decoration: none;
  min-height: 500px;
}

.foodAndPrice{
  font-size: 1.3rem;
}

.fish, .pies, .chips{
  display: flex;
  flex-direction: column;
}

.fishPrices, .piePrices, .chipPrices {
  display: flex;
  flex-direction: row;
}


.openingAndContactContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8%;
  margin-top: 3%;
  padding-top: 3%;
}

.timesContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contactInfo li{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
}

.contactInfo h4, p{
  margin: 0px 20px 40px 0px;
}

.contactInfo p{
  display: flex;
  margin-left: auto;
}

.contactInfo a{
  color: red;
  text-decoration: none;
}

iframe{
  margin: 2%;
  height: 350px;
  width: 350px;
}

#copyright p{
  margin-bottom: 0px;
  padding: 2%;
  display: flex;
  justify-content: center;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media (max-width: 992px) {

  nav{
    flex-direction: column;
    gap: 2rem;
  }

  .ourMenuContainer, .menuContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #longRope{
    display: none;
  }

}