/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}



/******************************************
/* BASE STYLES
/*******************************************/

html{
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  color: rgb(43, 42, 42);
  
}

main {
  display: flex;
  flex-direction: column;
  margin: 0px 5%;
}

footer {
  margin: 0px 0px;
  width: 100%;
  background-color: black;
  color: white;
}

h1{
  font-weight: 700;
  font-size: 5rem;
  color: white;
  line-height: 7rem;
  margin: 0px;
}

h2{
  font-weight: 500;
  font-size: 3rem;
}

h3{
  font-weight: 400;
  font-size: 2rem;
}

ul, li{
  text-decoration: none;
  list-style: none;
  padding-left: 0px;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.welcomeContainer{
  /* border: 2px solid red; */
  margin-bottom: 5%;
}


.welcome{
  /* background: url("../img/fishBackground.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  animation: animate 15s ease-in-out infinite;
}

@keyframes animate{
  0%, 100%{
    background-image: url("../img/fishBackground.jpg");
  }
  33%{
    background-image: url("../img/pieBG.jpg");
  }
  66%{
    background-image: url("../img/sardinesBG.jpg");
  }
}

.welcomeText {
  display: flex;
  flex-direction: column;
  margin-left: 58%;
}

.welcome h1{
  margin-top: 100px;
}

.welcome h4{
  color: white;
  margin: 10px 0px;
  padding-left: 10px;
}


nav{
  /* border: 2px solid pink; */
  display: flex;
  justify-content: flex-end;
  gap: 80px;
  padding: 15px;
  align-items: center;
}

.link{
  cursor: pointer;
  position: relative;
  padding-bottom: 5px;
}
.link::after{
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgb(87, 112, 223);
  transition: width 0.4s ease-out;
}

.link:hover.link::after{
  width: 100%;
}

nav a {
  text-decoration: none;
  color: rgb(43, 42, 42);
  font-size: 1.5rem;
  font-weight: 600;
}

nav img{
  height: 100px;
  margin-right: auto;
  margin-left: 5%;
}


.aboutUsContainer{
  /* border: 2px solid blue; */
  padding-left: 7rem;
  display: flex;
  flex-direction: row;
}

.aboutUsTextContainer {
  width: 75%;
}

.aboutUsImageContainer{
  /* border: 2px solid teal; */
  background-image: url("../img/fishAndChips.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 60vw;
  height: 500px;
}

.ourMenuContainer{
  margin-top: 5%;
}

.ourMenuContainer h2, #rope {
  display: flex;
  justify-content: center;
}

.ourMenuContainer h2{
  margin-bottom: 30px;
}

#rope{
  height: 50px;
  margin: auto;
  margin-bottom: 8%;
}

#longRope{
  height: 400px;
  margin-right: 50px;  
}

.menuContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  text-decoration: none;
  height: 500px;
}

.foodAndPrice{
  font-size: 1.3rem;
}

.fish, .pies, .chips{
  display: flex;
  flex-direction: column;
}

.fishPrices, .piePrices, .chipPrices {
  display: flex;
  flex-direction: row;
}


.openingAndContactContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3%;
  margin-top: 3%;
  padding-top: 3%;
}

.timesContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contactInfo li{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
}

.contactInfo h4, p{
  margin: 0px 20px 40px 0px;
}

.contactInfo p{
  display: flex;
  margin-left: auto;
}

.contactInfo a{
  color: red;
  text-decoration: none;
}

iframe{
  margin: 2%;
  height: 350px;
  width: 350px;
}

#copyright p{
  margin-bottom: 0px;
  padding: 2%;
  display: flex;
  justify-content: center;
}

/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
