
/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}


/* desktop: 1200px;
laptop: 992px;
tablet: 768px;
mobile: 480px; */


/******************************************
/* BASE STYLES
/*******************************************/

body ,html{
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  color: rgb(43, 42, 42);  
}

main {
  flex-direction: column;
  margin: 0% 5%;
}

footer {
  margin: 0px 0px;
  width: 100%;
  background-image: url("https://github.com/GreenEagleKing/fish-bar/blob/main/img/slateBg.jpg?raw=true");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#logo{
  max-width: 15%;
  height: auto;
  margin-bottom: 1rem;
}

p{
  line-height: 2rem;
}

h1{
  font-weight: 700;
  font-size: 5rem;
  color: white;
  line-height: 7rem;
  margin: 0px;
}

h2{
  font-weight: 500;
  font-size: 3rem;
}

h3{
  font-weight: 400;
  font-size: 2rem;
}

ul, li{
  text-decoration: none;
  list-style: none;
  padding-bottom: 1rem;
}

.welcomeContainer{
  margin-bottom: 10%;
}

#navContainer{
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 3rem;
  padding: 15px;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: rgb(43, 42, 42);
  font-size: 1.5rem;
  font-weight: 600;
}

.welcome{
  background: url("../img/fishBackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 50vh;
}

.welcomeText {
  display: flex;
  flex-direction: column;
  margin-left: 58%;

}

.welcome h1{
  margin-top: 2rem;
}

.welcome h4{
  color: white;
  margin: 10px 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.link{
  cursor: pointer;
  position: relative;
  padding-bottom: 5px;
}
  .link::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgb(46, 96, 146);
    transition: width 0.4s ease-out;
  }

  .link:hover.link::after{
  width: 100%;
}

.aboutUsContainer{
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
}

.aboutUsInfoContainer {
  width: 75%;
  padding-right: 4%;
}

.aboutUsTextContainer p{
  padding-bottom: 2rem;
}

.aboutUsContainer h2{
  padding: 1.5rem 0rem;
}

#aboutUsImage{
  max-width: 40%;
  height: auto;
}

.ourMenuContainer{
  margin-top: 5%;
}

.ourMenuContainer h2, #rope {
  display: flex;
  justify-content: center;
}

.ourMenuContainer h2{
  margin-bottom: 1.5rem;
}

#rope{
  max-width: 8%;
  margin: auto;
  margin-bottom: 6%;
}

#longRope{
  height: 27rem;
  margin-right: 5%;  
}

.menuContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  min-height: 500px;
  gap: 2rem;
}

.menuContainer h3 {
  padding: 2rem 0rem;
}

.foodAndPrice{
  font-size: 1.3rem;
}

.fish, .pies, .chips{
  display: flex;
  flex-direction: column;
}


.fishPrices, .piePrices, .chipPrices {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}


#contact{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 7%;
  padding-top: 3%;
}

#contact h2{
  padding: 2rem 0rem;
}

.timesContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}

.contactInfo ul{
  display: flex;
  flex-direction: column;
  justify-items: space-between;
}

.contactInfo li{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;
}

.contactInfo p{
  display: flex;
  align-items: center;
}

.contactInfo a{
  color: red;
  text-decoration: none;
}

iframe{
  display: flex;
  margin: 2%;
  max-width: 80%;
}

#copyright p{
  margin-bottom: 0px;
  padding: 5% 0%;
  display: flex;
  justify-content: center;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media (max-width: 900px) {

  body, html {
    display: block;
    font-size: 12px;
    min-height: 100vh;
    flex-direction: column;
    position: sticky;
    margin: 0;
  }

  main{
    overflow-x: hidden;
    width: 100%;
    margin: 0px 0%;
  }

  h1{
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.5rem;
  }
  
  h2{
    font-weight: 500;
    font-size: 1.5rem;
  }
  
  h3{
    font-weight: 400;
    font-size: 1rem;
  }

  .welcome{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 30vh;
  }

  .welcome h4{
    padding-left: 0px;
    padding-right: 10px;
  }

  #navContainer{
    display: flex;
    flex-direction: column;
  }

  #logo{
    align-self: center;
    max-width: 30%;
  }

  nav{
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    padding-bottom: .5rem;
  }

  .aboutUsInfoContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 0%;
  }

  .aboutUsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
  }

  #aboutUsImage{
    max-width: 100%;
    margin-top: 3rem;
  }

  .aboutUsTextContainer{
    align-self: center;
    max-width: 80%;
  }

  .aboutUsTextContainer p{
    margin-right: 0%  ;
    padding-top: 1rem;
    
  }

  .ourMenuContainer, .menuContainer{
    display: flex;
    flex-direction: column;
    text-align: center  ;
  }

  .menuContainer ul{
    padding: 0%;
    text-align: center;
  }

  .fishPrices, .piePrices, .chipPrices{
    display: flex;
    justify-content: center;

  }

  #longRope{
    display: none;
  }

  footer{
    padding: 0%;
  }

  #contact{
    display: flex;
    flex-direction: column;
  }

  #contact h2{
    text-align: center;
  }

  .contactContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contactInfo{
    display: flex;
    padding: 0px;
  }

  iframe{
    align-self: center;
  }

  .openingAndContactContainer{
    flex-direction: column;
    margin-top: 3%;
    padding-top: 3%;
  }

}